{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  {{"forgotten_password"|trans}}
{% endblock %}

{% block body %}
<h1>{{"forgotten_password"|trans}}</h1>
<form method="post">
    <div class="form-group">
      <label for="inputEmail" class="sr-only">{{"email"|trans}}</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>
    <button class="btn btn-primary" type="submit">
        {{"send_mail"|trans}}
    </button>
</form>
{% endblock %}
