

/* eb garamond */

@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/eb_garamond/EBGaramond-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/eb_garamond/EBGaramond-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/eb_garamond/EBGaramond-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/eb_garamond/EBGaramond-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}



/* freefont mono */

@font-face {
    font-family: "freefont_mono";
    src: url("../fonts/freefont/FreeMono.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "freefont_mono";
    src: url("../fonts/freefont/FreeMonoOblique.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "freefont_mono";
    src: url("../fonts/freefont/FreeMonoBold.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "freefont_mono";
    src: url("../fonts/freefont/FreeMonoBoldOblique.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}



/* alegreya_sans */

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "alegreya_sans";
    src: url("../fonts/alegreya_sans/AlegreyaSans-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}