{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"users"|trans}}{% endblock %}

{% block body %}
  <h1>{{ "comments" | transchoice(comments|length) }}</h1>

  <table data-order="[]" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'date'|trans}}</th>
        <th scope="col">{{'paratext'|trans}}</th>
        <th scope="col">{{"user"|trans}}</th>
        <th scope="col">{{"content"|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
      {% set paratext = comment.paratext %}
      {% set edition = paratext.edition %}
      {% set author = edition.author %}
      <tr>
        <td>{{comment.creationDate|date("d/m/Y à H:i:s")}}</td>
        <td>
          {{author.name}} / {{edition.name}} /
          <a href="{{path('paratext_display', {originalFilename:paratext.originalFilename}) ~ '#' ~ comment.target }}">{{paratext.name}}</a>
          {% if comment.target %}
            (#{{comment.target}})
          {% endif %}
        </td>
        <td>
          {{comment.sender.username}}
        </td>
        <td>
          {{comment.content|u.truncate(120, "...")}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/datatable.js") }}"></script>
{% endblock %}
