{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Upload XML{% endblock %}

{% block body %}
  <h1>Upload XML</h1>
  <div class="alert alert-info">
    <p>
    Le paratexte sera classé selon l'auteur, l'année et le titre renseigné dans les éléments TEI suivants : <br/>
      - Auteur : élément &lt;author/&gt; présent dans /TEI/teiHeader/fileDesc/sourceDesc/bibl/ <br/>
      - Année : attribut @when de l'élément &lt;date/&gt; présent dans /TEI/teiHeader/fileDesc/sourceDesc/bibl/ <br/>
      - Titre : élément &lt;title/&gt; présent dans /TEI/teiHeader/fileDesc/titleStmt/
    </p>
    <p>
      Si un fichier ayant le même nom a déjà été déposé, votre paratexte écrasera le précédant.
    </p>
  </div>
  {{ form(form) }}
{% endblock %}
