{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"users"|trans}}{% endblock %}

{% block body %}
  <h1>{{"users"|trans}}</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{'username'|trans}}</th>
        <th scope="col">{{'email'|trans}}</th>
        <th scope="col">{{"roles"|trans}}</th>
        <th scope="col">{{"actions"|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
          {% for role in user.roles %}
            {% if role != "ROLE_USER" %}
            {{role|trans}}
            {% endif %}
          {% endfor %}
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Définir rôle
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_USER"})}}">{{"ROLE_USER"|trans}}</a>
              <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_ADMIN"})}}">{{"ROLE_ADMIN"|trans}}</a>
              <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_SUPER_ADMIN"})}}">{{"ROLE_SUPER_ADMIN"|trans}}</a>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
