<div id="footer" class="p-1">
  <div class="row text-center">
    <div class="col-8 logos">
      <a target="_blank" href="https://anr.fr/">
        <img src="{{asset('img/logo_ANR.png')}}"/>
      </a>
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr">
        <img src="{{asset('img/logo_cnrs.jpg')}}"/>
      </a>
      <a target="_blank" href="https://www.univ-lyon3.fr/">
        <img src="{{asset('img/logo_lyon3.png')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
      <a target="_blank" href="https://www.hisoma.mom.fr/">
        <img src="{{asset('img/logo_Hisoma.png')}}"/>
      </a>
      <a target="_blank" href="http://ihrim.ens-lyon.fr/">
        <img src="{{asset('img/logo_ihrim.png')}}"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/">
        <img src="{{asset('img/logo_elan.png')}}"/>
      </a>
    </div>
    <div class="col text-left links">
      <a href="{{path("legal_notices")}}">{{"mentions_legales"|trans}}</a>
      <a target="_blank" href="https://gitlab.com/litt-arts-num/ithac">{{"source_code"|trans}}</a>
    </div>
    {% if parameters.userBottom %}
    <div class="col text-left links">
      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a href="{{ path('app_register') }}">{{"register"|trans}}</a>
          <a href="{{ path('app_login') }}">{{"connect"|trans}}</a>
      {% else %}
          <a href="{{ path('edit_user') }}">
            <i class="fas fa-user"></i> {{ app.user.username }}
          </a>
          <a href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i> {{"logout"|trans}}
          </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
