<nav class="navbar navbar-expand navbar-light" style="background-color:#A5A58D">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-theater-masks"></i> {{ appname }}
      </a>
      {% if isAdmin %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('author_index') }}">
          <i class="fas fa-users"></i> Auteurs
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('paratext_list') }}">
          <i class="fas fa-file-alt"></i> Paratextes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_comments') }}">
          <i class='far fa-comment-alt'></i> Commentaires
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_upload_xml') }}">
          <i class="fas fa-file-upload"></i> Upload XML
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('manual') }}">
          <i class="far fa-life-ring"></i> {{"manual"|trans}}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('paratext_search') }}">
          <i class="fas fa-search"></i> Rechercher
        </a>
      </li>
      {% endif %}

      <div class="navbar-nav ml-auto">
      {% if isSuperAdmin %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i> Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('admin_parameters') }}">
            <i class="fas fa-cogs"></i> {{"parameters"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_list_users') }}">
            <i class="fas fa-users"></i> {{"users"|trans}}
          </a>
        </div>
      </li>
      {% endif %}
      {% if not parameters.userBottom %}
          {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ path('app_register') }}">{{"register"|trans}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ path('app_login') }}">{{"connect"|trans}}</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('edit_user') }}">
                <i class="far fa-edit"></i> {{"edit_user"|trans}}
              </a>
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i> {{"logout"|trans}}
              </a>
            </div>
          </li>
          {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
</nav>
