<h1 class="display-4">Manuel d'encodage pour le projet ITHAC</h1>
<div class="row d-block col-12 m-4">
  <h2>Rappels :</h2>
  <ul>
    <li>Titre du fichier : 2 premières lettres du nom de l'auteur, date de l'édition, nom de l'éditeur du paratexte, numéro du paratexte. Exemple :
      Ar1525_Francinus_p1</li>
    <li>Identifiant de l'édition + numéro de paratexte comme pour le nom du fichier</li>
    <li>Identifiant du titre du paragraphe (<code>&lt;head&gt;</code>) : identifiant du paratexte, 0. Exemple : Ar1525_Francinus_p1_0</li>
    <li>Identifiant du paragraphe (<code>&lt;ab&gt;</code>) : identifiant du paratexte, numéro du paragraphe. Exemple : Ar1525_Francinus_p1_2</li>
    <li>Identifiant de la note : identifiant du paragraphe, numéro de la note. Exemple : Ar1525_Francinus_p1_3_n1</li>
  </ul>
  <h2>Élément <code>&lt;TEI&gt;</code></h2>
  <p>Élément racine du fichier TEI.</p>
  <h2>Élément <code>&lt;text&gt;</code></h2>
  <p>Le contenu du document.</p>
  <h2>Élément <code>&lt;body&gt;</code></h2>
  <p>Contient le texte du paratexte et sa traduction.</p>Attribut&nbsp;: <ul>
    <li><code>@ana</code>&nbsp; <i>L'attribut <code>@ana</code> est utilisé pour l'encodage sémantique. Se place au niveau du paratexte (<code>&lt;body&gt;</code>)
        ou des <code>&lt;ab&gt;</code> traduction.</i>
      <ul>
        <li><code>#A</code>&nbsp;(Argument), <code>#HC</code>&nbsp;(Histoire contemporaine), <code>#LA</code>&nbsp;(Réflexion sur la langue), <code>#LI</code>&nbsp;(Histoire
          du livre et de l'imprimerie), <code>#M</code>&nbsp;(Métrique), <code>#PA</code>&nbsp;(Paratexte (topoi, mise en scène de soi, relation
          entre destinateur et destinataire…)), <code>#PE</code>&nbsp;(Pédagogie (déclinée en méthodes de lecture / pratiques d’enseignement)), <code>#PH</code>&nbsp;(Philologie),
          <code>#PHILO</code>&nbsp;(Philosophie), <code>#RE</code>&nbsp;(Religion), <code>#RH</code>&nbsp;(Rhétorique), <code>#T</code>&nbsp;(Traduction),
          <code>#TH</code>&nbsp;(Théâtre, décliné en 4 sous-rubriques), <code>#TH_dram</code>&nbsp;(Genre (comédie, tragédie...), type de discours
          (prologue, choeur,...), composition des pièces, composition des personnages), <code>#TH_repr</code>&nbsp;(Représentation (mise en scène,
          mode de diction…)), <code>#TH_hist</code>&nbsp;(Histoire (histoire du théâtre)), <code>#TH_fin</code>&nbsp;(Finalité (plaire /
          instruire…)), <code>#V</code>&nbsp;(Vie).</li>
      </ul> (de type&nbsp;: <a href="https://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-teidata.enumerated.html <view-source:https://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-teidata.enumerated.html>">teidata.enumerated</a>)
    </li>
  </ul>
  <h2>Élément <code>&lt;title&gt;</code></h2>
  <p>L'élément <code>&lt;title&gt;</code> qui se trouve dans le <code>&lt;titleStmt&gt;</code> doit contenir le nom du paratexte. On utilise
    également l'élément <code>&lt;title&gt;</code> pour l'encodage des titres d'œuvres mentionnés dans le texte ou les notes.</p>Attribut&nbsp;: <ul>
    <li><code>@xml:lang</code>&nbsp; <i>La langue du paratexte doit être indiquée dans l'attribut <code>@xml:lang</code> du titre du document. Les
        valeurs possibles sont :</i>
      <ul>
        <li><code>la</code>&nbsp;: latin</li>
        <li><code>grc</code>&nbsp;: grec</li>
      </ul>
    </li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;titleStmt&gt;
                &lt;title xml:lang="la"&gt;titre du paratexte&lt;/title&gt;
                (...)
              &lt;/titleStmt&gt;

            </pre>
  <p>Attention ! ne pas faire de retour charriot dans le titre.</p>Contrainte&nbsp;: <ul>
    <li>L'attribut @xml:lang pour <code>title</code> est obligatoire.</li>
  </ul>
  <h2>Élément <code>&lt;availability&gt;</code></h2>
  <p>Renseigne sur la disponibilité du texte</p>
  <h2>Élément <code>&lt;author&gt;</code></h2>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;author ref="#identifiant_auteur"&gt;auteur du paratexte&lt;/author&gt;

            </pre>
  <p>Pour les identifiants de personnes, mettre le nom latin de référence, en minuscules, précédé d'un #</p>
  <p>Attention : l'identifiant ne peut contenir ni espaces, ni caractères spéciaux, doit être unique, utiliser le tiret bas pour séparer les mots.</p>
  <h2>Élément <code>&lt;respStmt&gt;</code></h2>
  <p>Permet d'indiquer les intervenants et le type d'intervention sur le fichier.</p>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;respStmt&gt;
                    &lt;resp&gt;encodage&lt;/resp&gt;
                    &lt;name&gt;Marion SOREL&lt;/name&gt;
                &lt;/respStmt&gt;

            </pre>
  <p>Ajouter autant de tâches (<code>&lt;respStmt&gt;</code>) que nécessaire.</p>
  <p>Dans l'élément <code>&lt;resp&gt;</code> indiquer le type d'intervention : traduction, encodage, validation, etc.</p>
  <p>Dans l'élément <code>&lt;name&gt;</code> indiquer le nom de la personne qui est intervenue sous la forme : prénom NOM.</p>
  <h2>Élément <code>&lt;resp&gt;</code></h2>
  <p>Dans l'élément <code>&lt;resp&gt;</code>, indiquer le type d'intervention sur le fichier : transcription, traduction, encodage, etc.</p>
  <h2>Élément <code>&lt;name&gt;</code></h2>
  <p>Pour indiquer l'auteur d'une intervention sur le fichier sous la forme Prénom NOM.</p>
  <h2>Élément <code>&lt;publicationStmt&gt;</code></h2>
  <p>Contient les informations de publication sur le laboratoire numérique du projet. Ne pas modifier.</p>
  <h2>Élément <code>&lt;sourceDesc&gt;</code></h2>
  <p>L'élément <code>&lt;sourceDesc&gt;</code> doit contenir un élément <code>&lt;bibl&gt;</code> qui détaille la référence du document source (<code>&lt;title&gt;</code>,<code>&lt;author&gt;</code>,
    <code>&lt;pubPlace&gt;</code>, <code>&lt;publisher&gt;</code>, etc.).</p>
  <p>Il peut également contenir un élément <code>&lt;listBibl&gt;</code> pour les références bibliographiques notées sur la fiche TT.</p>
  <h2>Élément <code>&lt;listBibl&gt;</code></h2>
  <p>L'élément <code>&lt;ListBibl&gt;</code> contient la liste des références bibliographiques. Chaque référence est saisie dans un <code>&lt;bibl&gt;</code>
    comme elle se présente dans la fiche TT.</p>Exemple d'utilisation&nbsp;:
  <pre>

               &lt;listBibl&gt;
                    &lt;head&gt;Bibliographie&lt;/head&gt;
                    &lt;bibl&gt;Dietl (C.), Die Dramen Jacob Lochers und die frühe Humanistenbühne im süddeutschen Raum. De Gruyter, Berlin und New York 2005.&lt;/bibl&gt;
                    &lt;bibl&gt;Hehle (J.), « Locher, Jakob », dans Allgemeine Deutsche Biographie (ADB), vol. 19, Leipzig, Duncker et Humblot, 1884, p. 59-63.&lt;/bibl&gt;
                &lt;/listBibl&gt;

            </pre>
  <h2>Élément <code>&lt;bibl&gt;</code></h2>
  <p>Dans l'élément <code>&lt;sourceDesc&gt;</code>, le <code>&lt;bibl&gt;</code> détaille la référence du texte source. Par contre, dans l'élément
    <code>&lt;listBibl&gt;</code>, les références bibliographiques doivent être entrées telles que dans le fichier TT sans découpage en sous éléments
    (title, author, etc.). Quand il s'agit des références d'une citation, l'attribut <code>@resp</code> permet d'indiquer qui a donné la référence et
    l'attribut <code>@type</code> d'indiquer quand la référence n'a pas pu être trouvée (type="nontrouve").</p>Attributs&nbsp;: <ul>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>nontrouve</code></li>
      </ul>
    </li>
    <li><code>@resp</code>&nbsp; <i></i>
      <ul>
        <li><code>AD</code>&nbsp;(Alexia Dedieu), <code>CL</code>&nbsp;(Christiane Louette), <code>CN</code>&nbsp;(Christian Nicolas), <code>EL</code>&nbsp;(Edouard
          Lebourg), <code>JYV</code>&nbsp;(Jean-Yves Vialleton), <code>LH</code>&nbsp;(Laure Hermand-Schebat), <code>MBH</code>&nbsp;(Malika
          Bastin-Hammou), <code>MDC</code>&nbsp;(Maria Diandra Cristache), <code>MF</code>&nbsp;(Mathieu Ferrand), <code>PPR</code>&nbsp;(Pascale
          Paré-Rey), <code>SG</code>&nbsp;(Sarah Gaucher), <code>TT</code>&nbsp;(Théophane Trédez).</li>
      </ul>
    </li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

                &lt;bibl&gt;
                    &lt;title&gt;Argumentum Fabulae&lt;/title&gt;
                    &lt;author ref="#euripide"&gt;Euripides&lt;/author&gt;
                    &lt;pubPlace&gt;Ultraiecti&lt;/pubPlace&gt;
                    &lt;publisher ref="#borculous"&gt;Harmanus Borculous&lt;/publisher&gt;
                    &lt;date when="1543"&gt;1543&lt;/date&gt;
                    &lt;editor ref="tiara"&gt;Petreius Tiara&lt;/editor&gt;
                    &lt;editor role="traducteur" ref="#tiara"&gt;Petreius Tiara&lt;/editor&gt;
                &lt;/bibl&gt;

            </pre>Contrainte&nbsp;: <ul>
    <li>Attention, la référence de la source doit être structurée et comporter au moins les éléments title, author et date. Voir l'exemple ci-dessus.</li>
  </ul>
  <h2>Élément <code>&lt;date&gt;</code></h2>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;date when="1499"&gt;1499&lt;/date&gt;

            </pre>
  <p>Dans l'attribut <code>@when</code>, indiquer l'année en chiffres arabes.</p>Contrainte&nbsp;: <ul>
    <li>L'attribut @when pour <code>date</code> est obligatoire.</li>
  </ul>
  <h2>Élément <code>&lt;pubPlace&gt;</code></h2>
  <p>Le lieu d'édition.</p>
  <h2>Élément <code>&lt;publisher&gt;</code></h2>
  <p>L'éditeur commercial.</p>
  <h2>Élément <code>&lt;editor&gt;</code></h2>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;editor ref="identifiant_person"&gt;nom de l'éditeur scientifique&lt;/editor&gt;
              &lt;editor role="traducteur" ref="#identifiant_person"&gt;nom du traducteur&lt;/editor&gt;

            </pre>
  <p>Pour les traducteurs, ajouter un élément <code>&lt;editor&gt;</code> avec un attribut <code>@role</code> "traducteur".</p>
  <h2>Élément <code>&lt;biblScope&gt;</code></h2>
  <p>Pour préciser le tome ou les pages dans une réfrence bibliographique.</p>
  <h2>Élément <code>&lt;ref&gt;</code></h2>
  <p>Pour les liens externes ou les renvois vers un paragraphe ou un autre document du corpus.</p>Attribut&nbsp;: <ul>
    <li><code>@target</code>&nbsp; <i>Permet d'indiquer l'url de l'édition en ligne si elle existe, de faire un lien externe ou de faire un renvoi
        vers un paragraphe ou vers un autre fichier. Dans le premier cas, utiliser l'attribut <code>@target</code> en indiquant l'url. Dans le second
        cas, mettre dans l'attribut <code>@target</code> l'xml:id du paragraphe précédé d'un #. Dans le cas d'un autre document, on indique soit le
        nom du document soit l'identifiant du paragraphe (qui contient le nom du fichier). Voir les exemples ci-dessous.</i></li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;ref target="url_edition_numérique"/&gt;

            </pre>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;ref target="#Sq1488_Fernandus_p1_5"/&gt;

            </pre>
  <p>Pour les liens google book, remplacer les &amp; par &amp;amp; pour que ça fonctionne.</p>
  <h2>Élément <code>&lt;profileDesc&gt;</code></h2>
  <p> L'élément <code>&lt;profileDesc&gt;</code> peut contenir un élément <code>&lt;abstract&gt;</code> pour le résumé de la fiche TT, un élément
    <code>&lt;langUsage&gt;</code>, non modifiable, qui spécifie les langues utilisées dans le fichier et un élément <code>&lt;textDesc&gt;</code>
    pour indiquer un paratexte en vers. </p>
  <h2>Élément <code>&lt;abstract&gt;</code></h2>
  <p>Recopier dans un ou plusieurs éléments <code>&lt;p&gt;</code> le contenu du champ "remarques" de la fiche TT ou créer une liste (élément <code>&lt;list&gt;</code>
    contenant des <code>&lt;item&gt;</code>) si nécessaire.</p>
  <h2>Élément <code>&lt;p&gt;</code></h2>
  <p>Utilisé pour les paragraphe dans l'élément <code>&lt;abstract&gt;</code>.</p>
  <h2>Élément <code>&lt;list&gt;</code></h2>
  <p> L'élément <code>&lt;list&gt;</code> contient des éléments <code>&lt;item&gt;</code>. </p>
  <h2>Élément <code>&lt;item&gt;</code></h2>
  <p> Pour les composants d'une liste. </p>
  <h2>Élément <code>&lt;langUsage&gt;</code></h2>
  <p>L'élément <code>&lt;langUsage&gt;</code>, spécifie les langues utilisées dans le fichier. Ne pas modifier.</p>Attribut&nbsp;: <ul>
    <li><code>@xml:lang</code>&nbsp; <i></i>
      <ul>
        <li><code>fr</code>&nbsp;: français</li>
        <li><code>la</code>&nbsp;: latin</li>
        <li><code>grc</code>&nbsp;: grec</li>
      </ul>
    </li>
  </ul>
  <h2>Élément <code>&lt;head&gt;</code></h2>
  <p>Le couple d'éléments <code>&lt;head&gt;</code> (<code>@orig</code> et <code>@trad</code>) contient le titre ou l'incipit du paratexte et sa
    traduction.</p>Attribut&nbsp;: <ul>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>orig</code>&nbsp;: Pour le texte original.</li>
        <li><code>trad</code>&nbsp;: Pour la traduction.</li>
      </ul>
    </li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

              &lt;head type="orig" xml:id="Te1499_Locher_p2_0"&gt;Ad lectorem Epigramma eiusdem Philomusi&lt;/head&gt;
              &lt;head corresp="#Te1499_Locher_p2_0" type="trad"&gt;Au lecteur, épigramme du même ‘Ami des Muses’&lt;/head&gt;

            </pre>Contraintes&nbsp;: <ul>
    <li> Pour <code>head</code>, l'attribut @xml:id est obligatoire. Il contient l'identifiant du titre original composé du titre de la fiche TT
      suivi d'un underscore (_) puis du chiffre 0.</li>
    <li>Pour <code>head</code>, l'attribut @corresp est obligatoire et doit contenir l'identifiant du titre original précédé de #.</li>
  </ul>
  <h2>Élément <code>&lt;ab&gt;</code></h2>
  <p>Le couple d'éléments <code>&lt;ab&gt;</code> (avec respectivement un attribut <code>@type</code> pour orig ou trad) contient le texte du
    paratexte et sa traduction. L'attribut <code>@ana</code> est optionnel et est utilisé pour l'étiquetage sémantique : voir l'élément <code>&lt;body&gt;</code>
    pour la liste des valeurs possibles.</p>Attributs&nbsp;: <ul>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>orig</code>&nbsp;: Pour le texte original.</li>
        <li><code>trad</code>&nbsp;: Pour la traduction.</li>
      </ul>
    </li>
    <li><code>@ana</code>&nbsp; <i>L'attribut <code>@ana</code> est utilisé pour l'encodage sémantique. Se place au niveau du paratexte (<code>&lt;body&gt;</code>)
        ou des <code>&lt;ab&gt;</code> traduction.</i>
      <ul>
        <li><code>#A</code>&nbsp;(Argument), <code>#HC</code>&nbsp;(Histoire contemporaine), <code>#LA</code>&nbsp;(Réflexion sur la langue), <code>#LI</code>&nbsp;(Histoire
          du livre et de l'imprimerie), <code>#M</code>&nbsp;(Métrique), <code>#PA</code>&nbsp;(Paratexte (topoi, mise en scène de soi, relation
          entre destinateur et destinataire…)), <code>#PE</code>&nbsp;(Pédagogie (déclinée en méthodes de lecture / pratiques d’enseignement)), <code>#PH</code>&nbsp;(Philologie),
          <code>#PHILO</code>&nbsp;(Philosophie), <code>#RE</code>&nbsp;(Religion), <code>#RH</code>&nbsp;(Rhétorique), <code>#T</code>&nbsp;(Traduction),
          <code>#TH</code>&nbsp;(Théâtre, décliné en 4 sous-rubriques), <code>#TH_dram</code>&nbsp;(Genre (comédie, tragédie...), type de discours
          (prologue, choeur,...), composition des pièces, composition des personnages), <code>#TH_repr</code>&nbsp;(Représentation (mise en scène,
          mode de diction…)), <code>#TH_hist</code>&nbsp;(Histoire (histoire du théâtre)), <code>#TH_fin</code>&nbsp;(Finalité (plaire /
          instruire…)), <code>#V</code>&nbsp;(Vie).</li>
      </ul> (de type&nbsp;: <a href="https://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-teidata.enumerated.html <view-source:https://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-teidata.enumerated.html>">teidata.enumerated</a>)
    </li>
  </ul>Contraintes&nbsp;: <ul>
    <li> Pour <code>ab</code>, l'attribut @xml:id est obligatoire. Il contient l'identifiant de l'unité textuelle de la fiche TT suivi d'un
      underscore (_) puis du chiffre 1, 2, 3, etc.</li>
    <li>Pour <code>ab</code>, l'attribut @corresp est obligatoire et doit contenir l'identifiant de l'unité textuelle originale précédée de #.</li>
  </ul>
  <h2>Élément <code>&lt;note&gt;</code></h2>
  <p>Si la note porte sur le paragraphe entier, il faut donc la placer à l'intérieur et à la fin du segment textuel <code>&lt;ab&gt;</code>. Si elle
    porte sur un segment seulement du paragraphe (segment encadré par la balise <code>&lt;seg&gt;</code>), on la place à l'intérieur de ce segment.</p>Exemple
  d'utilisation&nbsp;:
  <pre>

               &lt;ab corresp="#identifiant2" type="trad"&gt;texte du paratexte&lt;note&gt;texte de la note&lt;/note&gt;&lt;/ab&gt;
               &lt;ab type="orig" xml:id="identifiant1"&gt;texte du paratexte &lt;seg&gt;texte sur lequel porte la note &lt;note&gt;texte de la note&lt;/note&gt;&lt;/seg&gt; suite du texte du paratexte&lt;/ab&gt;

            </pre>
  <h2>Élément <code>&lt;persName&gt;</code></h2>
  <p>On entoure le nom d'une personne d'une balise <code>&lt;persName&gt;</code> qui a un attribut <code>@ref</code> pour l'identifiant.</p>Attributs&nbsp;:
  <ul>
    <li><code>@ref</code>&nbsp; <i></i>
      <ul>
        <li><code>#burgofrancho_ioannes</code>, <code>#cormellas_sebastianus</code>, <code>#haestens_henricus</code>, <code>#hennenbergus_ioannes</code>,
          <code>#aegidius_petrus</code>, <code>#albinus_petrus</code>, <code>#albus_ioannes</code>, <code>#angelius_nicolaus</code>, <code>#anselmus_georgius</code>,
          <code>#anshelmus_thomas</code>, <code>#antesignanus_petrus</code>, <code>#apostolios_arsenius</code>, <code>#ar</code>, <code>#asclepius_nicolaus</code>,
          <code>#asulanus_franciscus</code>, <code>#audoenus_ioannes</code>, <code>#auratus_ioannes</code>, <code>#auantius_hieronymus</code>, <code>#baderus_matthaeus</code>,
          <code>#ascensius_iodocus</code>, <code>#balticus_martinus</code>, <code>#barlandus_adrianus</code>, <code>#bebelius_heinricus</code>, <code>#bebelius_ioannes</code>,
          <code>#beroaldus_philippus</code>, <code>#bertramus_antonius</code>, <code>#bertrandus_bernardus</code>, <code>#beuilaqua_simon</code>,
          <code>#bisetus_odoardus</code>, <code>#bladus_antonius</code>, <code>#blansdorff_ioannes</code>, <code>#bonhome_mathias</code>, <code>#boninus_euphrosynus</code>,
          <code>#bonus_petrus</code>, <code>#borculous_hermannus</code>, <code>#brachius_ioannes</code>, <code>#brand_bernhardus</code>, <code>#bredius_franciscus</code>,
          <code>#britannicus_ioannes</code>, <code>#brubachius_petrus</code>, <code>#buchananus_georgius</code>, <code>#burchius_adrianus</code>,
          <code>#burdinus_aegidius</code>, <code>#cabaliatus_polydorus</code>, <code>#cabedius_michael</code>, <code>#calaminus_georgius</code>,
          <code>#calcaterra_antonius</code>, <code>#camerarius_ioachimus</code>, <code>#camillus_dorotheus</code>, <code>#canalis_paulus</code>,
          <code>#caninius_angelus</code>, <code>#canterus_guilelmus</code>, <code>#carteromacus_scipio</code>, <code>#charpentarius_symon</code>,
          <code>#cheradumus_ioannes</code>, <code>#chilius_adrianus</code>, <code>#christianus_florens</code>, <code>#cloucquius_andreas</code>,
          <code>#codicillus_petrus</code>, <code>#commelinus_hieronymus</code>, <code>#cratander_andreas</code>, <code>#cremcouius_ualentinus</code>,
          <code>#crinitus_petrus</code>, <code>#curius_petrus</code>, <code>#daczicenus_georgius</code>, <code>#colonia_ioannes</code>, <code>#spira_uindelinus</code>,
          <code>#stainuilla_petrus</code>, <code>#worda_winandus</code>, <code>#delrio_martinus</code>, <code>#descobar_augustinus</code>, <code>#dimas_ioannes</code>,
          <code>#diuus_andreas</code>, <code>#dousa_ianus</code>, <code>#dousa_ianus_f</code>, <code>#ducius_sebastianus</code>, <code>#dupuys_mathurnius</code>,
          <code>#egidius_ioannes</code>, <code>#egnatius_ioannes</code>, <code>#eichorn_ioannes</code>, <code>#erasmus_desiderius</code>, <code>#eschl</code>,
          <code>#eur</code>, <code>#fabricius_georgius</code>, <code>#falkenburgius_gerartus</code>, <code>#farnabius_thomas</code>, <code>#fernandus_carolus</code>,
          <code>#florentius_ioannes</code>, <code>#francinus_antonius</code>, <code>#frenzelius_salomon</code>, <code>#frischlinus_nicodemus</code>,
          <code>#frobenius_ioannes</code>, <code>#fuggerus_ioannes</code>, <code>#gabia_ioannes</code>, <code>#gabllmanus_nicolaus</code>, <code>#gaietanus_danielis</code>,
          <code>#gallotus_nicolaus</code>, <code>#garbitius_mathias</code>, <code>#gardesius_ioannes</code>, <code>#gelenius_sigismundus</code>,
          <code>#gelous_sigismundus</code>, <code>#gentilis_scipio</code>, <code>#benedicti_georgius</code>, <code>#girardus_carolus</code>, <code>#gormontius_egidius</code>,
          <code>#grapheus_cornelius</code>, <code>#grauius_bartholomeus</code>, <code>#gruninger_ioannes</code>, <code>#gruterus_ianus</code>, <code>#grynaeus_simon</code>,
          <code>#gryphius_ioannes</code>, <code>#gryphius_sebastianus</code>, <code>#hantschius_georgius</code>, <code>#heinsius_daniel</code>, <code>#helias_iacobus</code>,
          <code>#stephanus_henricus</code>, <code>#heruagius_ioannes</code>, <code>#heuslerus_matthaeus</code>, <code>#higman_ioannes</code>, <code>#hilllenius_michael</code>,
          <code>#hopyl_wolfgangus</code>, <code>#hortensius_lambertus</code>, <code>#iunta_bernardus</code>, <code>#iunta_philippus</code>, <code>#iuuenalis_guido</code>,
          <code>#ionson_ben</code>, <code>#kingstonius_felix</code>, <code>#lalamantius_ioannes</code>, <code>#lambillon_anthonius</code>, <code>#lambinus_dionysus</code>,
          <code>#lambinus_germanus</code>, <code>#lascaris_ioannes</code>, <code>#maire_iacobus</code>, <code>#lipsius_iustus</code>, <code>#locher_iacobus</code>,
          <code>#lonicerus_ioannes</code>, <code>#lotherus_melchior_f</code>, <code>#lucius_ludouicus</code>, <code>#macaeus_ioannes</code>, <code>#madrucius_christophorus</code>,
          <code>#maire_ioannes</code>, <code>#manutius_aldus</code>, <code>#marlianus_bartholomeus</code>, <code>#marlianus_ioannes</code>, <code>#marmita_gellius</code>,
          <code>#maro_andrea</code>, <code>#martinus_theodoricus</code>, <code>#martiranus_coriolanus</code>, <code>#martiranus_martius</code>, <code>#maserius_aegidius</code>,
          <code>#meggisserus_hieronymus</code>, <code>#meissnerus_wolffgangus</code>, <code>#mekerchius_adolphus</code>, <code>#melanchtonus_philippus</code>,
          <code>#mencius_balthasar</code>, <code>#mercator_ioannes</code>, <code>#merula_georgius</code>, <code>#modius_franciscus</code>, <code>#morellus_federicus</code>,
          <code>#morinus_michael</code>, <code>#mosellanus_petrus</code>, <code>#mulingus_ioannes</code>, <code>#musurus_marcus</code>, <code>#myliander_stephanus</code>,
          <code>#mylius_adrianus</code>, <code>#nannius_petrus</code>, <code>#nansius_franciscus</code>, <code>#naogeorgus_thomas</code>, <code>#neruius_ioannes</code>,
          <code>#nucelius_georgius</code>, <code>#nucleus_horatius</code>, <code>#oporinus_ioannes</code>, <code>#orlers_ian</code>, <code>#otthentalerus_paulus</code>,
          <code>#palladius_dominicus</code>, <code>#passius_franciscus</code>, <code>#peiferus_dauidus</code>, <code>#petrarca_franciscus</code>,
          <code>#petreius_ioannes</code>, <code>#pierius_christianus</code>, <code>#pithopoeius_lambertus</code>, <code>#pius_ioannes</code>, <code>#plantinus_christophorus</code>,
          <code>#polites_ioachimus</code>, <code>#pontanus_sebastianus</code>, <code>#portus_aemilius</code>, <code>#posselius_ioannes</code>, <code>#posthius_ioannes</code>,
          <code>#pylades_buccardus</code>, <code>#candolle_pyrame</code>, <code>#raphelengius_christophorus</code>, <code>#raphelengius_franciscus_f</code>,
          <code>#ratallerus_georgius</code>, <code>#rauesteinius_ioannes</code>, <code>#rescius_rutgerus</code>, <code>#rhodomanus_laurentius</code>,
          <code>#riccardinus_benedictus</code>, <code>#rihelius_iosias</code>, <code>#rittershusius_cunradus</code>, <code>#robortellus_franciscus</code>,
          <code>#roce_dionysus</code>, <code>#rosbachius_ioannes</code>, <code>#salandus_ioannes</code>, <code>#sanrauius_ioannes</code>, <code>#sapinus_baptista</code>,
          <code>#saracenus_bernardinus</code>, <code>#saracenus_marinus</code>, <code>#scaliger_iosephus</code>, <code>#scheggius_iacobus</code>,
          <code>#schurerus_zacharia</code>, <code>#scinzenzeler_uldericus</code>, <code>#scotus_gualtierus</code>, <code>#sebaldi_uitus</code>, <code>#secceruitius_ioannes</code>,
          <code>#secerius_ioannes</code>, <code>#siberus_adamus</code>, <code>#siluius_gulielmus</code>, <code>#simonetus_ioannes</code>, <code>#soardus_lazarus</code>,
          <code>#soph</code>, <code>#spies_ioannes</code>, <code>#stephanus_paulus</code>, <code>#stiblinus_gasparus</code>, <code>#stratius_stephanus</code>,
          <code>#sturmius_ioannes</code>, <code>#sylburgius_fridericus</code>, <code>#taubmanus_fridericus</code>, <code>#theraeus_claudius</code>,
          <code>#tiara_petreius</code>, <code>#tiletanus_ioannes</code>, <code>#tomkins_nathaniel</code>, <code>#torresanus_andreas</code>, <code>#toxites_michael</code>,
          <code>#trechsel_ioannes</code>, <code>#treutlerus_hieronymus</code>, <code>#turnebus_adrianus</code>, <code>#ugoletus_angelus</code>, <code>#ugoletus_franciscus</code>,
          <code>#ualla_ioannes</code>, <code>#uascosanus_michael</code>, <code>#uenatorius_thomas</code>, <code>#uercellanus_gerardus</code>, <code>#uictorius_petrus</code>,
          <code>#uihardus_philippus</code>, <code>#uinariensis_franciscus</code>, <code>#uoegilinus_ernestus</code>, <code>#utenhouius_carolus</code>,
          <code>#wagnerus_gregorius</code>, <code>#wanckelius_ioannes</code>, <code>#wechelus_christianus</code>, <code>#welack_matthaeus</code>,
          <code>#wendelinus_rihelius</code>, <code>#wheare_degory</code>, <code>#whitakerus_laurentius</code>, <code>#winshemius_uitus</code>, <code>#wyriot_nicolas</code>,
          <code>#xylandrus_guilelmus</code>.</li>
      </ul>
    </li>
    <li><code>@role</code>&nbsp; <i></i>
      <ul>
        <li><code>destinataire</code></li>
      </ul>
    </li>
  </ul>
  <h2>Élément <code>&lt;placeName&gt;</code></h2>
  <p>Pour indiquer les nom de lieux.</p>
  <h2>Élément <code>&lt;foreign&gt;</code></h2>
  <p>On utilise l'élément <code>&lt;foreign&gt;</code> pour l'encodage des mots, expressions, citations en langue étrangère. L'attribut <code>@xml:lang</code>
    permet de préciser la langue.</p>
  <h2>Élément <code>&lt;hi&gt;</code></h2>
  <p>On utilise l'élément <code>&lt;hi&gt;</code> avec un attribut <code>@italic</code> pour les éléments en italique qui ne sont pas des titres.</p>Exemple
  d'utilisation&nbsp;:
  <pre>

              &lt;ab type="orig" xml:id="identifiant6"&gt;texte du paragraphe &lt;hi rend="italic"&gt;texte qu’on veut mettre en italique&lt;/hi&gt; suite du texte&lt;/ab&gt;

            </pre>
  <h2>Élément <code>&lt;cit&gt;</code></h2>
  <p>L'élément <code>&lt;cit&gt;</code> est une balise englobante qui permet d'indiquer une citation "littérale" - <code>&lt;quote&gt;</code> et sa
    référence bibliographique - <code>&lt;bibl&gt;</code> - que l'on place à l'intérieur de l'élément <code>&lt;note&gt;</code>. L'attribut <code>@type</code>
    est requis.</p>Attribut&nbsp;: <ul>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>refauteur</code></li>
        <li><code>refœuvre</code></li>
        <li><code>hyperref</code></li>
        <li><code>nonref</code></li>
      </ul>
    </li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

               &lt;cit type=“typecitation”&gt;
                    &lt;quote&gt;texte de la citation&lt;/quote&gt;
                    &lt;note resp=“#idresp”&gt;
                        &lt;bibl resp=“#idresp”&gt;
                           &lt;author ref=“#idauteur”&gt;Auteur&lt;/author&gt;,
                           &lt;title ref=“#idtitle”&gt;Titre&lt;/title&gt;
                           &lt;biblScope&gt;Locus&lt;/biblScope&gt;
                           &lt;ref target="si_lien_externe"/&gt;
                        &lt;/bibl&gt;
                    &lt;/note&gt;
               &lt;/cit&gt;

            </pre>
  <h2>Élément <code>&lt;quote&gt;</code></h2>
  <p>L'élément <code>&lt;quote&gt;</code> est utilisé pour indiquer la citation. L'attribut <code>@type</code> est utilisé pour indiquer une
    traduction et l'attribut <code>@xml:lang</code> pour indiquer la langue. Il peut contenir un élément <code>&lt;said&gt;</code> avec un attribut
    <code>@direct</code> "false" pour indiquer un passage au discours indirect. Voir exemple.</p>Attribut&nbsp;: <ul>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>traduction</code>&nbsp;: Pour une citation traduite.</li>
      </ul>
    </li>
  </ul>Exemple d'utilisation&nbsp;:
  <pre>

               &lt;quote type="traduction xml:lang="grc"&gt;texte de la citation&lt;/quote&gt;
               &lt;quote&gt;&lt;said direct="false"&gt;texte de la citation au style indirect&lt;/said&gt;&lt;/quote&gt;

            </pre>
  <h2>Élément <code>&lt;seg&gt;</code></h2>
  <p>L'élément <code>&lt;seg&gt;</code> est utilisé pour indiquer une citation de type paraphrase, réécriture, allusion, incise ou référence.</p>Attributs&nbsp;:
  <ul>
    <li><code>@corresp</code>&nbsp; <i></i></li>
    <li><code>@facs</code>&nbsp; <i></i></li>
    <li><code>@change</code>&nbsp; <i></i></li>
    <li><code>@cert</code>&nbsp; <i></i></li>
    <li><code>@resp</code>&nbsp; <i></i></li>
    <li><code>@type</code>&nbsp; <i></i>
      <ul>
        <li><code>paraphrase</code></li>
        <li><code>reecriture</code></li>
        <li><code>allusion</code></li>
        <li><code>incise</code></li>
        <li><code>reference</code></li>
      </ul>
    </li>
  </ul>
  <h2>Élément <code>&lt;w&gt;</code></h2>
  <p>L'élément <code>&lt;w&gt;</code> contient un mot.</p>
  <h2>Élément <code>&lt;l&gt;</code></h2>
  <p>L'élément <code>&lt;l&gt;</code> contient un vers.</p>
  <h2>Élément <code>&lt;said&gt;</code></h2>
  <p>L'élément <code>&lt;said&gt;</code> indique un passage prononcé à haute voix.</p>
</div>
<hr>
<h3>Remarques générales sur le modèle TEI et son manuel</h3>
<ul>
  <li>Modules et éléments utilisés&nbsp;: <ul>
      <li>Module <i>header</i></li>
      <li>Module <i>core</i> (éléments <code>p</code>, <code>title</code>, <code>author</code>, <code>respStmt</code>, <code>publisher</code>, <code>availability</code>,
        <code>pubPlace</code>, <code>resp</code>, <code>sourceDesc</code>, <code>listBibl</code>, <code>bibl</code>, <code>name</code>, <code>date</code>,
        <code>editor</code>, <code>ref</code>, <code>list</code>, <code>head</code>, <code>item</code>, <code>note</code>, <code>quote</code>, <code>cit</code>,
        <code>foreign</code>, <code>hi</code>, <code>l</code>, <code>biblScope</code> et <code>said</code>)</li>
      <li>Module <i>textstructure</i> (éléments <code>TEI</code>, <code>text</code> et <code>body</code>)</li>
      <li>Module <i>tei</i></li>
      <li>Module <i>namesdates</i> (éléments <code>persName</code> et <code>placeName</code>)</li>
      <li>Module <i>linking</i> (éléments <code>ab</code> et <code>seg</code>)</li>
      <li>Module <i>analysis</i> (élément <code>w</code>)</li>
    </ul>
  </li>
</ul>
