<div style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);">
    <span class="d-none" data-enabled="false" id="annotate">
      <i class="far fa-comment-alt"></i>
    </span>

    <span id="paratext-info" class="btn btn-sm btn-secondary" data-container="body" data-toggle="popover" data-content="{{paratext.originalFilename}}">
      <i class="fas fa-info"></i>
    </span>

    <a download="{{paratext.originalFilename}}.xml" href="{{ asset('upload/tei/'~paratext.filename) }}" class="btn btn-sm btn-secondary">
      <i class="fas fa-file-download"></i>
    </a>

    <a class="btn btn-sm btn-secondary" href="{{ path('paratext_public_display_short', {'originalFilename': paratext.originalFilename}) }}">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </a>

    {% if isSuperAdmin %}
    <span id="general-comments" class="btn btn-sm btn-secondary">
      ({{ generalComments|length }}) <i class="far fa-comments"></i>
    </span>

    <span data-toggle="modal" data-target="#delete-modal" class="btn btn-sm btn-danger">
      <i class="far fa-trash-alt"></i>
    </span>
    {% endif %}
</div>

{% if isSuperAdmin %}
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suppression du paratexte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce paratexte ? Cela supprimera aussi les commentaires associés.</p>
        <p>Si vous souhaitez mettre à jour le paratexte (et ainsi conserver les commentaires), déposez simplement la nouvelle version avec "Upload XML"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <a href="{{ path('paratext_remove', {id: paratext.id}) }}"  class="btn btn-danger">Oui, supprimer</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
