<ul class="list-group list-group-flush">
  <li class="list-group-item">
    {{ form(form)}}
  </li>
  {% for annotation in annotations %}
  <li class="list-group-item {{not partial and annotation.target ? "d-none"}}" data-commentId="{{annotation.target}}">
    {{annotation.content |nl2br}}
    <div class="text-right text-muted">
      {{annotation.sender.username}} le {{annotation.creationDate|date("d/m/Y à H:i:s")}}
      {% if annotation.sender == app.user  %}
        <a href="#" data-id="{{annotation.id}}" class="edit-comment">
          <i class="far fa-edit"></i>
        </a>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <span role="button" class="comment-delete" data-id="{{annotation.id}}">
          <i class="far fa-trash-alt"></i>
        </span>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
