{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{paratext.name}} {% endblock %}

{% block body %}
{% set edition = paratext.edition %}
{% set author = edition.author %}
<h1> {{paratext.name}} <br/><span class="text-muted">{{paratext.author}}</span></h1>

<nav aria-label="breadcrumb" style="position:relative;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_index') }}">Auteurs</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_display', { id: author.id }) }}">{{author.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('edition_display', { id: edition.id }) }}">{{edition.name}}</a></li>
    <li class="breadcrumb-item active">{{paratext.name}}</li>
  </ol>
  {% include 'paratext/btns.html.twig' %}
</nav>

<div class="js-paratext-id" data-id="{{ paratext.id }}">
  <div class="row">
    <div class="col" id="paratext-container">
      {{ paratext | paratextToHtml | raw }}
    </div>
    <div class="d-none border-left col-3" id="comments-container">
      <a class="btn btn-sm btn-secondary float-right mt-2" href="#" id="close-comments"> <i class="fas fa-window-close"></i> Fermer</a>
      <h2 id="comments-title" class="text-break ">
        Commentaires
      </h2>
      <div id="comments-body">
        {% set partial = false %}
        {% include 'paratext/comments.html.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/comment.js") }}"></script>
  <script src="{{ asset("build/js/notes.js") }}"></script>
  <script src="{{ asset("build/js/search.js") }}"></script>
{% endblock %}
