{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Liste des paratextes {% endblock %}

{% block body %}
<h1>
  Liste des paratextes
  {% if query is defined %}
  pour la requête <span class="text-muted">"{{query}}"</span>
  {% endif %}
</h1>

<table data-order="[]" class="table table-striped">
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Edition</th>
      <th>Titre</th>
      <th>Nom du fichier</th>
      <th>Dernier upload</th>
      <th>Dernier commentaires</th>
      <th>Vue publique</th>
    </tr>
  </thead>
  <tbody>
  {% for paratext in paratexts %}
    {% set filename = paratext.originalFilename %}
    <tr>
        <td>
          {{paratext.edition.author.name}}
          <a href="{{ path('author_display', {id: paratext.edition.author.id}) }}">
            <i class="fas fa-external-link-alt fa-xs"></i>
          </a>
        </td>
        <td>
          {{paratext.edition.name}}
          <a href="{{ path('edition_display', {id: paratext.edition.id}) }}">
            <i class="fas fa-external-link-alt fa-xs"></i>
          </a>
        </td>
        <td>
          {% if query is defined %}
          <a href="{{ path('paratext_display', {'originalFilename': filename, 'query': query, 'type': type }) }}">
            {{paratext.name}}
          </a>
          {% else %}
          <a href="{{ path('paratext_display', {'originalFilename': filename}) }}">
            {{paratext.name}}
          </a>
          {% endif %}
        </td>
        <td>
          {{ filename }}
        </td>
        <td>
          {% if paratext.lastUpload %}
            {{ paratext.lastUpload|date("d/m/Y à H:i:s") }}
          {% else %}
              -
          {% endif %}
        </td>
        <td>
          {% set lastComment = paratext.messages|first %}
          {% if lastComment %}
              {{ lastComment.creationDate|date("d/m/Y à H:i:s") }}
              {% if query is not defined %}
                <a href="{{path('paratext_display', {originalFilename:filename}) ~ '#' ~ lastComment.target }}">
                  <i class="fas fa-external-link-alt fa-xs"></i>
                </a>
              {% else %}
              <a href="{{path('paratext_display', {originalFilename:filename, 'query': query, 'type': type}) ~ '#' ~ lastComment.target }}">
                <i class="fas fa-external-link-alt fa-xs"></i>
              </a>
              {% endif %}
          {% else %}
              -
          {% endif %}
        </td>
        <td class="text-center">
           <a href="{{ path('paratext_public_display_short', {'originalFilename': filename}) }}">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/datatable.js") }}"></script>
{% endblock %}
