{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{paratext.name}} {% endblock %}

{% block stylesheets %}
  <link href="{{ asset("build/css/app.css") }}" rel="stylesheet" />
  <link href="{{ asset("build/css/toastr.css") }}" rel="stylesheet" />
	<link href="{{ asset("build/css/fontfaces.css") }}" rel="stylesheet" />
	<link href="{{ asset("build/css/style.css") }}" rel="stylesheet" />
{% endblock %}
	
{% block body %}
{% set edition = paratext.edition %}
{% set author = edition.author %}
<h1> {{paratext.name}} <br/><span class="text-muted">{{paratext.author}}</span></h1>

<nav aria-label="breadcrumb" style="position:relative;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
  {# <li class="breadcrumb-item"><a href="{{ path('author_index') }}">Auteurs</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_display', { id: author.id }) }}">{{author.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('edition_display', { id: edition.id }) }}">{{edition.name}}</a></li> #}
    <li class="breadcrumb-item active">{{paratext.name}}</li>
  </ol>
  {# {% include 'paratext/btns.html.twig' %} #}
</nav>

<div class="js-paratext-id" data-id="{{ paratext.id }}">
  <div class="row">
    <div class="col" id="paratext-container">
      {{ paratext | publicParatextToHtml | raw }}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/notes.js") }}"></script>
  <script src="{{ asset("build/js/search.js") }}"></script>
{% endblock %}
