{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Recherche {% endblock %}

{% block body %}
<h1>Recherche</h1>

<div class="alert alert-info" role="alert">
  Diiférentes façons de trouver des documents répondant à une requête : "Plein texte" cherche une correspondance exacte de votre requête dans le XML (que ce soit dans les balises, leur nom, attributs, etc.). "Expression régulière" vous permet de renseigner une expression régulière (par exemple <b>/(Aristophan|Socrat)[^\s]+\s[bcdfgjlmn]/i</b>). Elle sera confrontée à l'intégralité du document XML. Enfin, "Xpath" permet de récupérer les documents répondant à une requête Xpath (par exemple <b>//title[contains(text(),'Nicolao')]</b>)
</div>

{{ form(form) }}
{% endblock %}
