{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - erreur{% endblock %}

{% block body %}
  Une erreur s'est produite. <a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
{% endblock %}
