{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  {{"homepage"|trans}}
{% endblock %}

{% block body %}
  <div class="jumbotron p-4 color-block">
    <h2 class="display-4">
      IThAC ⠶ Le Pensoir
    </h2>
    <p class="lead">« L’invention du théâtre antique dans le corpus des paratextes savants du XVIe siècle. Analyse, traduction, exploration numérique »</p>
    <div class="row mb-4">
      <div class="col text-justify">
        <p>L’ANR IThAC a pour objectif l’étude de la réception du théâtre antique dans l’Europe du XVIe s. à travers l’analyse des paratextes savants imprimés qui lui sont alors consacrés, et la mise à disposition de la communauté scientifique de la
          traduction de ce corpus en français, grâce à la construction d’une interface numérique évolutive. On fait l’hypothèse que la collecte, la traduction et l’analyse de ce corpus, longtemps négligé parce que difficilement accessible matériellement et
          parce que très largement rédigé en latin, voire en grec, permettront de saisir à la fois comment le théâtre antique a été reçu et compris par ses « inventeurs » dans l’Europe du XVIe s., mais aussi comment les idées et les méthodes qu’ils véhiculent,
          à l’heure où s’inventaient aussi bien le théâtre moderne que la philologie, ont circulé et se sont développées grâce notamment à leur large diffusion rendue possible par l’imprimé.</p>
      </div>
      <div class="col">
        <img class="w-100" src="{{ asset('img/cropped-visuel-ITHAC-Gourmont-1-affiche-6.jpg') }}"/>
      </div>
    </div>
    <p>Piloté par Malika Bastin-Hammou et mené en collaboration avec l’UMR HiSoMA autour d’une équipe de 15 chercheurs membres de Litt&Arts et d’HiSoMA, le projet a obtenu un financement de 48 mois par le plan d’action de l’ANR 2019
    </p>

    <hr/>

    <div>

      <div class="entry-content">
        <h3>Pilotage</h3>
        <ul>
          <li>Coordinatrice scientifique du projet : Malika Bastin-Hammou (Université Grenoble-Alpes, Litt&amp;Arts)</li>
          <li>Responsable scientifique Lyon III : Pascale Paré-Rey (Lyon III, HiSoMA)</li>
        </ul>

        <h3>Laboratoires participant au projet</h3>
        <ul>
          <li>
            <strong>Litt&amp;Arts</strong>
            (Université Grenoble-Alpes, CNRS),
            <a href="http://litt-arts.univ-grenoble-alpes.fr/">http://litt-arts.univ-grenoble-alpes.fr/</a>
          </li>
          <li>
            <strong>HiSoMA</strong>
            (Université Lumière Lyon 2, CNRS, Université Jean Moulin Lyon 3, Université Jean Monnet Saint-Etienne, ENS de Lyon),
            <a href="https://www.hisoma.mom.fr/">https://www.hisoma.mom.fr/</a>
          </li>
          <li>
            <strong>IHRIM
            </strong>(CNRS, ENS de Lyon, Université Clermont Auvergne, Université Jean Monnet Saint-Etienne, Université Jean Moulin Lyon 3, Université Lumière Lyon 2),
            <a href="http://ihrim.ens-lyon.fr/">http://ihrim.ens-lyon.fr/</a>
          </li>
        </ul>


        <h3>
          Membres du consortium<br>
        </h3>
        <ul>
          <li>Malika Bastin-Hammou, UGA, UMR Litt&Arts — malika.bastin@univ-grenoble-alpes.fr &nbsp;<a href="https://www.univ-grenoble-alpes.fr/malika-bastin-hammou-493001.kjsp?RH=2320611992734654">&gt;</a>
          </li>
          <li>Arnaud Bey, UGA, UMR Litt&Arts — arnaud.bey@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/m-arnaud-bey-532061.kjsp?RH=1464164074977">&gt;</a>
          </li>
          <li>Alexia Dedieu, UGA, UMR Litt&Arts — alexia.dedieu@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/alexia-dedieu-535557.kjsp?RH=1464164074977">&gt;</a>
          </li>
          <li>Marc Douguet, UGA, UMR Litt&Arts — marc.douguet@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/marc-douguet-532066.kjsp?RH=UAINTERFR_ANN">&gt;</a>
          </li>
          <li>Mathieu Ferrand, UGA, UMR Litt&Arts — mathieu.ferrand@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/mathieu-ferrand-543997.kjsp?">&gt;</a>
          </li>
          <li>Anne Garcia-Fernandez, CNRS, UMR Litt&Arts — annegf@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/anne-garcia-fernandez-532073.kjsp?RH=UAINTERFR_ANN">&gt;</a>
          </li>
          <li>Sarah Gaucher, Université Jean Moulin Lyon 3,  UMR HiSoMA — sarah.gaucher@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/gaucher-sarah">&gt;</a>
          </li>
          <li>Elisabeth Greslou, UGA, UMR Litt&Arts — elisabeth.greslou@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/elisabeth-greslou-532075.kjsp?">&gt;</a>
          </li>
          <li>Laure Hermand-Schebat, Université Jean Moulin Lyon 3,  UMR HiSoMA — laure.hermand@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/hermand-laure">&gt;</a>
          </li>
          <li>Élysabeth Hue-Gay, Université Jean Moulin Lyon 3,  UMR HiSoMA — elysabeth.hue-gay@mom.fr
            <a href="https://www.hisoma.mom.fr/annuaire/hue-gay-elysabeth">&gt;</a>
          </li>
          <li>Louisa Laj, UGA, UMR Litt&Arts — louisa.laj@univ-grenoble-alpes.fr</li>
          <li>Sabine Lardon, Université Jean Moulin Lyon 3,  UMR IHRIM — sabine.lardon@univ-lyon3.fr
            <a href="http://ihrim.ens-lyon.fr/auteur/lardon-isabelle">&gt;</a>
          </li>
          <li>Christiane Louette, UGA, UMR Litt&Arts — christiane.louette@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/christiane-louette-534278.kjsp?RH=2320611992734654">&gt;</a>
          </li>
          <li>Emmanuelle Morlock, CNRS, UMR HiSoMA — emmanuelle.morlock@mom.fr
            <a href="https://www.hisoma.mom.fr/annuaire/morlock-emmanuelle">&gt;</a>
          </li>
          <li>Christian Nicolas, Université Jean Moulin Lyon 3,  UMR HiSoMA — christian.nicolas@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/nicolas-christian">&gt;</a>
          </li>
          <li>Pascale Paré-Rey, Université Jean Moulin Lyon 3,  UMR HiSoMA — pascale.pare-rey@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/pare-rey-pascale">&gt;</a>
          </li>
          <li>Jean-Yves Vialleton, UGA, UMR Litt&Arts — jean-yves.vialleton@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/jean-yves-vialleton-533354.kjsp?">&gt;</a>
          </li>
        </ul>

        <h3>Stagiaires et vacataires</h3>
        <ul>
          <li>Ketsiah Briard (étudiante stagiaire, 2020-21)</li>
          <li>Margot Chambolle-Pacaud (étudiante stagiaire, 2020-21)</li>
          <li>Célia Charlois (étudiante stagiaire, 2020-21)</li>
          <li>Dalia Dahr (étudiante stagiaire, 2020-21)</li>
          <li>Julian De Rivas (vacataire, 2022)
            <a href="https://www.hisoma.mom.fr/annuaire/de-rivas-julian">&gt;</a>
          </li>
          <li>Camille Demouchy (étudiant stagiaire, 2019-20)</li>
          <li>Eglantine Déru (étudiante stagiaire, 2020-21)</li>
          <li>Oriane Desit (étudiante stagiaire, 2020-21)</li>
          <li>Maria Diandra Cristache (ingénieure d’études, 2020-21)</li>
          <li>Bérénice Jarrossay (étudiante stagiaire, 2020-21)</li>
          <li>Mendel Leandro Jimenez (étudiant stagiaire, 2020-21)</li>
          <li>Edouard Lebourg (étudiant stagiaire, 2021-2022)</li>
          <li>Marius Massucco (étudiant stagiaire, 2020-21)</li>
          <li>Laurine Oulama (étudiante stagiaire, 2019-20)</li>
          <li>Sandrine Peyrat (étudiante stagiaire, 2018-19)</li>
          <li>Chiara Rossi (étudiante stagiaire, 2019-20)</li>
          <li>Heidi-Morgane Roure (étudiante stagiaire, 2020-21)</li>
          <li>Annelise Salent (étudiante stagiaire, 2020-21)</li>
          <li>Magalie Sauvan (étudiante stagiaire, 2020-21)</li>
          <li>Valérie Svetlana Thirion (étudiante stagiaire, 2020-21)</li>
          <li>Théophane Trédez (étudiant stagiaire, 2021-2022)</li>
          <li>Bastien Vallet (étudiant stagiaire, 2020-21)</li>
        </ul>

        <h3>
          Consultés en tant qu'experts
        </h3>
        <ul>
          <li>Camille Desiles — camille.desiles@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/camille-desiles-615257.kjsp?RH=UAINTERFR_ANN">&gt;</a>
          </li>
        </ul>
    </div>

  </div>
{% endblock %}
